.wrapper {
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.row > .label {
  width: 200px;
  font-weight: bold;
}
.row > .form {
  width: 100%;
  flex: 1;
}
.row > .form > * {
  max-width: 256px;
  width: 100%;
}
.row > .form > .chip {
  max-width: 128px;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .row > .label {
    width: 100%;
  }
  .row > .form {
    width: 100%;
  }
  .row > .form > * {
    max-width: 9999px;
  }
}
