nav.topNav {
  color: white;
  cursor: default;
  padding: 32px 16px;
  font-weight: bold;
  display: none;
}
nav.topNav + ul {
  color: white;
  cursor: default;
  padding: 8px 16px;
  list-style: none;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px #666666;
}
nav.topNav + ul > li {
  margin: 4px;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}
nav.topNav + ul > li a {
  color: white !important;
  text-decoration: none;
}
