nav.topNav {
  color: white;
  cursor: default;
  padding: 16px;
  font-weight: bold;
}
nav.topNav .logo {
  width: 128px;
  height: auto;
  cursor: pointer;
}
nav.topNav + ul {
  color: white;
  cursor: default;
  padding: 8px 16px;
  list-style: none;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px #666666;
}
nav.topNav + ul > li {
  margin: 4px;
  min-width: 100px;
  text-align: center;
}
nav.topNav + ul > li a {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}

ul.nav.bottom {
  display: none;
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 4px #666666;
}
ul.nav.bottom > li {
  padding: 8px 0;
  flex: 1;
  text-align: center;
}
ul.nav.bottom > li a {
  color: #333333;
  text-decoration: none !important;
  cursor: pointer;
}
ul.nav.bottom > li a.active * {
  color: #3f51b5 !important;
}
@media (max-width: 800px) {
  nav.topNav {
    box-shadow: 0 2px 2px #666666;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav.topNav + ul {
    display: none;
  }

  ul.nav.bottom {
    display: flex;
  }
}
