* {
  box-sizing: border-box;
}
.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > * {
  width: 100%;
  max-width: 1024px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.padding {
  padding: 16px;
}
.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
  align-items: center;
}

table {
  min-width: 512px;
  overflow-x: auto;
}
table th {
  font-weight: bolder;
}
@media (max-width: 600px) {
  .grid {
    display: block;
  }
}
